@model IEnumerable<SuperCodeGirlProjectsWebApp.Models.BlogPost>

@{
    ViewData["Title"] = "Blog";
}

<h1>Blog Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.MainCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFileName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
